<ion-header>
  <ion-toolbar>
    <ion-title>Technologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Technologies, Frameworks and challenges that I will face while developing the app/project.</h1>
<h2><b>HTML:</b></h2>
  <p>I have used HTML in my previous course. HTML was one of my strong side reason I started on it and I love it that its useful even now.</p>
  <h2><b>CSS:</b></h2>
  <p>I have used CSS in my previous course. I have very good command on it and its very useful to personalize the application.</p>
  <h2><b>JQuery:</b></h2>
  <p>New user to JQuery and learning about this from this course and my teacher.</p>
  <h2><b>JQuery Mobile:</b></h2>
  <p>New user to JQuery Mobile and learning about this from this course and my teacher.</p>
  <h2><b>JavaScript:</b></h2>
  <p>New user to JavaScript and learning about this from this course and my teacher.</p>
  <h2><b>API:</b></h2>
  <p>New user to API and learning about this from this course and my teacher.</p>
  <h2><b>Visual Studio Code:</b></h2>
  <p>I am very much comfortable on this Vs code as its one of the best tool to work on.</p>
  <h2><b>Ionic:</b></h2>
  <p>New user to Ionic and learning about this from this course and my teacher.</p>
  <h2><b>Angular:</b></h2>
  <p>New user to Angular and learning about this from this course and my teacher.</p>
  <h2><b>Firebase:</b></h2>
  <p>New user to Firebase and learning about this from this course and my teacher.</p>
  <h2><b>Notification:</b></h2>
  <p>delivering accurate information-containing buzz notifications to users' phones as soon as they arrive at their location. The trigger in particular, which is related to the preceding point, is a crucial component of this functionality for the app.</p>
  <h2><b>Keeping data persistent:</b></h2>
  <p>Both the user's shopping list and the shop coordinates used for Geofencing must be able to be stored in the app. It is possible to handle this issue technically in a number of ways, such by using session variables, cookies, or a straightforward SQLite database. I think putting one of these into practise will let the app save its data.</p>
  <h2><b>Google Maps:</b></h2>
  <p>The programme must launch Google Maps so that the user can search for a store, which, upon selection, will be added to a list of stores that need to be notified. In order to utilise the Google maps API, a key will need to be generated. These may be acquired fairly easily by logging into your Google account, going to the Google Maps Developer website, and generating the key.</p>
  <h2><b>Geofencing/Geolocation:</b></h2>
  <p>The app must monitor the user's GPS location at all times and utilise that data to decide when to send buzz alerts. Additionally, authorization to access the phone's GPS will be required. This can be done simply giving the app the geolocation of the phone using the GPS.</p> 
  <h2><b>Complexity</b></h2>
  <p>This app may be incorporating too many technological features which could cause the app to be finished in a rushed and unfinished state. Strategical compromises may have to be made if certain technological features listed above are too hard or too time consuming to integrate into the app.</p>
</ion-content>
