<ion-header>
  <ion-toolbar>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img id="image2" expand="block" src="assets/img/image2.png" />
    

<h3>Responsibility:</h3>
<h1>App is super useful with its unique location features and comparatively easier to add any list.</h1>
<h3>Worried About:</h3>
<h1>No such way to calculate shopping costs.</h1>
<h3>Wish list:</h3>
<h1>Add total and individually cost features. It will be great if we can add our shopping item with pictures.</h1>


<img id="image3" expand="block"  src="assets/img/image3.png" />
<h1>For this user they are a mother who must provide food for her family. She constantly forgets her shopping list behind, either at home or in the car. This constantly frustrates her as she never remembers the full shopping list.</h1>

</ion-content>