<ion-header>
  <ion-toolbar>
    <ion-title><b>My Profile</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<header>My Profile</header>
<ul>
  <li>University of Hertfordshire</li>
  <li>School of Computer Science</li>
  <li>BSc honor Computer Science</li>
  <li>Module: Mobile Computing</li>
  <li>Studen Name:Akash goyal</li>
  <li>Studen ID:19068392</li>
  <li>Level 6</li>
  <li>Academic Year 2022-23</li>
  <li>Github User Name:Freaky20</li>
  <li>Github Repository:https://github.com/Freaky20/Ass1.git</li>
</ul>
</ion-content>
