<ion-header>
  <ion-toolbar>
    <ion-title>Critique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-modal #modal12 trigger="image11">
  <ng-template>
    <ion-button (click)="modal12.dismiss()">Close</ion-button>
      <img class="center" alt="img number 11" src="assets/img/lip2.png"/>
  </ng-template>
</ion-modal>
<ion-content>
  <ion-card>
    <img id="image11" expand="block" src="assets/img/lip2.png" alt="Img number 11"/>
      <ion-card-header>
        <ion-card-title>Listonic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Free smart grocery list app Listonic is the top free shopping list app in some nations.
      </ion-card-content>
  </ion-card>
  <h2>Pros</h2>
  <ul>
    <li><h1>Has a cloud based sync system that allows users to share lists with friends.</h1></li>
    <li><h1>Built for many types of devices (Phones, smart watches, tablets).</h1></li>
    <li><h1>Can send shopping list to someone who doesn't have the app via an SMS.</h1></li>
    <li><h1>Provides useful tips as you add items to your shopping list.</h1></li>
    <li><h1>Has voice recognition for adding items.</h1></li>
    <li><h1>Clean, sleek and simple UI design.</h1></li>
  </ul>
  <h2>Cons</h2>
  <ul>
    <li><h1>It may take some time for the app to load and check items. resulting in an extremely irritating user experience, especially given its straightforward UI design.</h1></li>
    <li><h1>Mobile data on your phone may be used up while sharing and syncing lists.</h1></li>
    <li><h1>has ubiquitous, ongoing advertising that can block the majority of the screen.</h1></li>
    <li><h1>The sharing and synchronisation of your shopping list may not work if your mobile connection is poor.</h1></li>
    <li><h1>duplicate items are not detected when adding items. Instead of merging, it merely adds a new item.</h1></li>
  </ul>
  <ion-card>
      <ion-card-header>
        <ion-card-title>shoppinglist</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here is a current app that my app Shoppinglist is quite similar to. I'll be contrasting them with Shoppinglist by outlining both of its benefits and drawbacks.
      </ion-card-content>
  </ion-card>
  <h2>Pros</h2>
  <ul>
    <li><h1>provides users with the option to set up alert buzz alerts for the store they wish to visit.</h1></li>
    <li><h1>Use Google Maps to look up stores to configure the notify vibration notification.</h1></li>
    <li><h1>UI design that is more straightforward and concentrates on making grocery lists, discovering recipes, and locating stores to send buzz notifications.</h1></li>
    <li><h1>has no advertisements. saving the users' time in the process.</h1></li>
  </ul>
  <h2>Cons</h2>
  <ul>
    <li><h1>For some people, this software can be too basic. A large selection of grocery goods or categories may be desired by users.</h1></li>
    <li><h1>This software depends on the phone's GPS being functional and precise since if it isn't, some users can receive false buzz notifications.</h1></li>
    <li><h1>Some local businesses might not be included in Google Maps or their location may not be accurate. This can cause buzz notifications to be sent to the wrong places.</h1></li>
   </ul>
</ion-content>


<!-- margin-bottom: 50%;; (things inside the image model ) -->
