<ion-header>
  <ion-toolbar>
    <ion-title><b>Goal</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <header>Goal of the Final App</header>
<p>This fictitious planning application is intended to introduce the idea of a specific shopping app. The main feature of this application, Location - based, is the ability to receive buzz notifications when close to a store that was previously designated using a combination of Location tracking and Geofences. </p>
  <h2>Main Goal</h2>
 <ol>
    <li><h1>Assembling a shopping list of products.</h1></li>
    <li><h1>being able to use Google Maps to find stores and bookmark their locations.</h1></li>
    <li><h1>obtaining the position of an app using geolocation.</h1></li>
    <li><h1>When an app enters a geofenced-in shop, a vibration notification is sent as a reminder.</h1></li>
    <li><h1>As products are purchased, check them off the shopping list.</h1></li>
 </ol>
  <h2>Sub Goal</h2>
  <ol>
    <li><h1>User can upload profile picture/login.</h1></li>
    <li><h1>User can see food recipe.</h1></li>
  </ol>
  <p>The general idea is to eliminate the necessity to remind yourself to seek your shopping list once you arrive at the store.</p>
</ion-content>