<ion-header>
  <ion-toolbar>
    <ion-title><b>Home</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding">
  <header>Welcome!</header>
  <p>Today, I'll discuss shoppinglist, a tool for creating shopping lists and receiving alerts when you arrive at a particular shop area. To access the various sections of the app, please use the menu navigation bar. </p>
<img src="assets/img/image1.png" alt="spending APP">
</ion-content>
